RewriteEngine On
# Nếu truy cập trực tiếp vào file hoặc thư mục thì cho phép
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
# Chuyển hướng toàn bộ request về index.php
RewriteRule ^ index.php [QSA,L]
